/*
.facts
{
    font-size: 20px;
    line-height: 1.4;
    font-family:"Sono",sans-serif;
    color: white; /*Now as we can see that this color white is being applied to all the facts in body 
    so instead of writing and declaring the color:white for every fact what we can do is 
    We can create a global selector and then we can push this css property into it 
    
    *
    {
        color : white ;
    background-color: #44403c;
    }*/
/* * */
/* { */
    /* color : white; */
    /* But the problem is this css will get applied
    on all elements seprately and then the child element
    will inherit the css property of the parent element
     */
     /*
     <ul>
                <li><button>All</button></li>
                <li><button>Technology</button></li>
                <li><button>Science</button></li>
            </ul>*/

    /* so all though the color property will be applied 
    on every element of the document which can have or take
    color property of css since *global selector will 
    apply color property to every tag there is actually no use 
    of inheritance here but in case of inhertiance too color will be 
    applied on 
    to ul the child of ul will inherit it that is li
    and li child will inherit it  */

    /* To avoid this we can provide color property into
    body tag and cause of that body's child will only inherit the 
    property 
    ie 

    <main>
        <aside>
            <ul>
                <li><button>All</button></li>
                <li><button>Technology</button></li>
                <li><button>Science</button></li>
            </ul>
        </aside>
    </main>
    <main> tag will inherit the property but 
    the <aside> which contains ul tag list wont inherit 
    the color property cause aside tag dosent have any
    color property and cause of that ul wont be able to
    inherit the property since it's parent child didnt 
    took one */
/* } */


body
{
    background-color: #292524;
    color : white;
    

    /* To avoid this we can provide color property into
    body tag and cause of that body's chidld will only inherit the 
    property 
    ie 

    <main>
        <aside>
            <ul>
                <li><button>All</button></li>
                <li><button>Technology</button></li>
                <li><button>Science</button></li>
            </ul>
        </aside>
    </main>
    <main> tag will inherit the property but 
    the <aside> which contains ul tag list wont inherit 
    the color property cause aside tag dosent have any
    color property and cause of that ul wont be able to
    inherit the property since it's parent child didnt 
    took one*/
}
h1
{
    font-size:45px;
    text-transform: uppercase;
    text-align: center;
    font-family:'Coiny',sans-serif;
    /* So in css we cn declare color either by name,rgb value or hex code  */
    /* name */
    /* color: aqua; */
    /* rgb */
    /* color : rgb(12, 39, 89);      /*rgb(12, 39, 89) this 12 ,39 ,89 are the portion of  
    red,green and black respectively*/

    /* Hex */
    /* color :#234abc; */
    color:white;

}
.fact-form
{
    background-color: #44403c;
}
.facts
{
    font-size: 20px;
    line-height: 1.4;
    font-family:"Sono",sans-serif;
    /* color: white; Now as we can see that this color white is being applied to all the facts in body */
    /* so instead of writing and declaring the color:white for every fact what we can do is 
    We can create a global selector and then we can push this css property into it 
    
    *
    {
        color : white ;
    }*/
    background-color: #44403c;
    }
button
{
    font-family:'Coiny';
}
ul{
    list-style: none;
}
.category
{
    text-transform:uppercase;
    font-size: 15px;
    font-family: "Coiny",sans-serif;
    color: red;
}